<p id="notice"><%= notice %></p>

<h1>Classement des joueurs</h1>
 <a href="https://heig-vd.ch/ecg" target="_blank">HEIG-VD EC+G</a><hr/>

<% if logged_in? %>
  <%= render partial: 'search', locals: { keyword: @keyword } %>
  <hr/><br/>
  <%= link_to 'Ajouter un nouveau joueur', new_player_path %>
  <br/><br/><hr/><br/>
<% end %>

<table cellspacing="10">
  <thead>
    <tr>
      <th>Pseudo</th>
      <% if logged_in? %>
        <th>E-mail</th>
      <% end %>
        <th>Défi génie civil</th>
        <th>Défi géomatique</th>
        <th>Score total</th>
      <% if logged_in? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody id="players">
    <% @players.each do |player| %>
      <%= render partial: 'player', locals: { player: player.as_json(), logged_in: logged_in? } %>
    <% end %>
  </tbody>
</table>
