<p id="notice"><%= notice %></p>

<h1>Classement des joueurs</h1><hr/>

<% if logged_in? %>
  <%= render partial: 'search', locals: { keyword: @keyword } %>
  <hr/><br/>
  <%= link_to 'Ajouter un nouveau joueur', new_player_path %>
  <br/><br/><hr/><br/>
<% end %>

<table>
  <thead>
    <tr>
      <th>Pseudo</th>
      <% if logged_in? %>
        <th>E-mail</th>
        <th>Atelier géomatique</th>
        <th>Atelier génie civil</th>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody id="players">
    <% @players.each do |player| %>
      <%= render partial: 'player', locals: { player: player } %>
    <% end %>
  </tbody>
</table>
